<!DOCTYPE html>
<html>
<head>
    <title>YT-注册</title>
    <include file="../xmyttz/view/rx_head.html"/>
    <style>
        .newbanb {
            min-width: 1263px;
            padding: 66px 0;
        }
        .footer {
            min-width: 100%;
            /*background: #222;*/
            clear: both;
            text-align: center;
        }
        .footer .top {
            width:100%;
            height: 0px;
            margin: 25px auto;
        }
        .footer .bottom {
            height: 85px;
            line-height: 80px;
            background-color: #000;
            color: #777;
            text-align: center;
            border-top: 1px solid #444;
        }



    </style>
</head>
<body>
<include file="../xmyttz/view/rx_header.html"/>
<!--<div class="pc">-->
    <!--<div class="reg_bg">-->
        <!--<div class="reg_box">-->
            <!--<ul>-->

                <!--<li class="user_box"><i></i><input type="text" name="phone" placeholder="请输入手机号" id="pc_phone_num" ></li>-->
                <!--<li class="yzm_box"><i></i><input type="text" name="code" class="yzm" placeholder="请输入短信验证码" id="pc_code_num" autocomplete="off"><button type="button" id="pc_getCode" >获取验证码</button></li>-->
                <!--<li class="pwd_box"><i></i><input type="text" onfocus="this.type='password'" name="password" placeholder="请设置登录密码" id="pc_pwd_num"></li>-->
                <!--<li class="pwd_box2"><i></i><input type="text" onfocus="this.type='password'" placeholder="请再次输入密码" id="pc_pwd_num2"></li>-->
                <!--<empty name="_GET.inviteCode"><li class="invite_box"><i></i><input type="text" name="invite" placeholder="输入邀请码" id="pc_invite_code" autocomplete="off"></li><else /><input type="hidden" value="{:input('get.inviteCode')}" name="invite" id="pc_invite_code"></empty>-->
                <!--<li class="other_box"><input type="checkbox" id="pc_checkbox" ><label for="pc_checkbox">我已阅读并接受</label><a href="/login/register/agreement" target="_blank" id="agreement">《注册协议》</a></li>-->
                <!--<li class="btn_box"><button type="button" id="pc_reg_btn">注册</button></li>-->
                <!--<li style="margin:0;height:auto;font-size:14px;"><span style="color:#999;float:right;height:auto;">已有账号，<a href="/{$Request.module}/Login/login" style="color:#01c0dd;">立即登录</a></span></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="footer">-->
        <!--<div class="top">-->
            <!--<div class="newbanb">-->
                <!--<div class="banb_center">-->
                    <!--<div class="newbanb_div newbanb_div1">-->
                        <!--<img src="/Public/img/banb1.png" alt="" width=120 height=120>-->
                        <!--<dl class="bana1">-->
                            <!--<dt>低成本</dt>-->
                            <!--<dd>撮合交易无点差，最低1000元即可交易</dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                    <!--<div class="newbanb_div newbanb_div2">-->
                        <!--<div class="img_box">-->
                            <!--<img src="/Public/img/banb2.png" alt="" width=120 height=120>-->
                        <!--</div>-->
                        <!--<dl class="bana2">-->
                            <!--<dt>随时玩</dt>-->
                            <!--<dd>T+0双向交易，可买涨买跌，随时掌握操作机会</dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                    <!--<div class="newbanb_div newbanb_div3">-->
                        <!--<img src="/Public/img/banb3.png" alt="" width=120 height=120>-->
                        <!--<dl class="bana3">-->
                            <!--<dt>资金安全</dt>-->
                            <!--<dd>第三方资金托管的各种安全监测，安全保障</dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                    <!--<div class="newbanb_div newbanb_div4">-->
                        <!--<img src="/Public/img/banb4.png" alt="" width=120 height=120>-->
                        <!--<dl class="bana3">-->
                            <!--<dt>国际监管</dt>-->
                            <!--<dd>银行和证监会监管，规范监管体系</dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                    <!--<div style="clear:both;"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="block right">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>关于我们</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<hr>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/about/about/about">公司简介</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/about/about/about/id/5">最新公告</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/about/about/about/id/4">合作伙伴</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/about/about/about/id/6">联系我们</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="block center">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>帮助中心</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<hr>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/help/help/help/par/1/id/1">操作指南</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ}&site=qq&menu=yes">在线咨询</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/download/download/download">软件下载</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="/help/help/help">帮助中心</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="block right">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>联系我们</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<hr>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>周一至周五：09:00—18:00</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>客服热线：{$Think.config.FENGKONG_PHONE}</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>紧急电话：{$Think.config.URGENT_PHONE}</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="erweima" src="/Public/img/erweima.png">&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!-- 移动端 -->
<div class="phone">
    <!--<div id="header">-->

    <!--</div>-->
    <div id="mt_register_a">

        <div class="user_pwd">
            <p class="user_p"><span>手机号</span><input type="text" name="phone" placeholder="" id="phone_num"></p>
            <p class="user_p"><span>验证码</span><input type="text" name="code" placeholder="" id="code_num" autocomplete="off"><button type="button" id="getCode">获取验证码</button></p>
            <p class="user_p"><span>密码</span><input  type="text" onfocus="this.type='password'" name="password" placeholder="" id="pwd_num"></p>
            <p class="user_p"><span>确认密码</span><input  type="text" onfocus="this.type='password'" placeholder="" id="pwd_num2"></p>
            <!--<empty name="_GET.inviteCode"><p class=""><span>邀请码</span><input  type="text" name="invite" placeholder="" id="invite_code"></p><else /><input type="hidden" value="{:input('get.inviteCode')}" name="invite" id="invite_code"></empty>-->
        </div>
        <p class="xieyi" style="width: 100%;line-height: 53px;margin: 3px 77px;font-size: 16px;"><input type="checkbox" id="mt_checkbox"><label for="mt_checkbox" style="color:black;margin:0 0 0 5px;">我已阅读并接受</label><a style="color:red" id="showContract" href="/{$Request.module}/{$Request.controller}/agreement">《注册协议》</a></p>
        <button type="button" class="reg_next" id="register_btn">确认注册</button>
    </div>

</div>


</body>
</html>