<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开户</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body >
<header id="head" class="mui-bar mui-bar-nav " style="background-color: rgb(250,250,250)">
    <a href="" class="mui-action-back mui-icon-left-nav  mui-icon mui-pull-left " style="color: black"></a>
    <h1 class="mui-title">开户</h1>
</header>
<div style="margin: 47px 0 0 0">
<div class="open">
<div class="open_list"></div>
    <div class="open_detail">
        <p>国际期货</p>
        <div class="qihuo_list">
            <div class="mui-content">
                <ul class="mui-table-view mui-grid-view mui-grid-12">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">自有金额</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="#">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href=''>
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">逐笔浮盈</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="#">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <!--第二行开始-->
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">动态权益</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">风险度</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <!--第二行结束-->
                </ul>
            </div>
        </div>
        <div class="immediate">立即开通</div>
    </div>
</div>
<div class="open">
    <div class="open_list"></div>
    <div class="open_detail">
        <p>外汇高级</p>
        <div class="qihuo_list">
            <div class="mui-content">
                <ul class="mui-table-view mui-grid-view mui-grid-12">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/account">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">自有金额</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="#">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/system">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">逐笔浮盈</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="#">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <!--第二行开始-->
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/guide">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">动态权益</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/about">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/guide">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">风险度</div></a></li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="/rx/user/about">
                        <span class="mui-icon "></span>
                        <div class="mui-media-body">--</div></a></li>
                    <!--第二行结束-->
                </ul>
            </div>
        </div>
        <div class="immediate">立即开通</div>
    </div>
</div>
</div>

</body>
</html>