@CHARSET "UTF-8";
.mission_bg img{
	width:100%;
	height:150px;
}
.mission_box ul{
	border-top:1px solid #eee;
}
.mission_box li{
	height:.4rem;
	line-height:.2rem;
	padding:.15rem;
	color:#f55;
	border-bottom:1px solid #eee;
	font-size:16px;
}
.mission_box li span{
	font-size:14px;
	color:#999;
}
.mission_box .mission_left{
	float:left;
}
.mission_box .mission_right{
	width:.8rem;
	height:.4rem;
	float:right;
	background:url(../img/hongbao.png) no-repeat;
	border-radius:4px;
}