<meta charset="utf-8">
<title>盈透网站管理后台</title>
<meta name="renderer" content="webkit" />
<link href="/Public/img/logo.ico"  rel="shortcut icon"/>
<link href="/Public/css/basic.css" rel="stylesheet" type="text/css" />
<link href="/Public/css/admin.css" rel="stylesheet" type="text/css" />
<script src="/Public/js/jquery.min.js" type="text/javascript"></script>
<script>var conUrl="/{$Request.module}/{$Request.controller}";var rootUrl="{$Request.root}";var select_condition='{:input("param.condition")}';</script>
<script src="/Public/js/admin.js" type="text/javascript"></script>