
<div class="pc">
<div class="link">
	<div class="link_qq">
		<div class="show_qq"></div>
		<ul>
			<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ1}&site=qq&menu=yes">客服一</a></li>
			<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ2}&site=qq&menu=yes">客服二</a></li>
			<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ3}&site=qq&menu=yes">客服三</a></li>
		</ul>
	</div>
	<div class="link_ph">
		<div class="show_ph"></div>
		<ul>
			<li>客服：{$Think.config.FENGKONG_PHONE}</li>
		</ul>
	</div>
	<div class="link_ewm">
		<div class="show_ewm"></div>
		<ul>
			<li><img src="/Public/img/weixin1.jpg" alt=""></li>
			<li><img src="/Public/img/weixin2.jpg" alt=""></li>
		</ul>
	</div>
</div>
<div class="footer">
	<!--<div class="top">-->
		<!--<div class="newbanb">-->
			<!--<div class="banb_center">-->
				<!--<div class="newbanb_div newbanb_div1">-->
					<!--<img src="/Public/img/banb1.png" alt="" width=70 height=70>-->
					<!--<dl class="bana1">-->
						<!--<dt>低成本</dt>-->
						<!--<dd>撮合交易无点差，0利息0管理费，最低1000元即可交易</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div class="newbanb_div newbanb_div2">-->
					<!--<div class="img_box">-->
						<!--<img src="/Public/img/banb2.png" alt="" width=70 height=70>-->
					<!--</div>-->
					<!--<dl class="bana2">-->
						<!--<dt>随时玩</dt>-->
						<!--<dd>T+0双向交易，可买涨买跌，线上出入金，即时到账，随时掌握盈利机会</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div class="newbanb_div newbanb_div3">-->
					<!--<img src="/Public/img/banb3.png" alt="" width=70 height=70>-->
					<!--<dl class="bana3">-->
						<!--<dt>资金安全</dt>-->
						<!--<dd>拥有多年运作经验，通过第三方资金托管的各种安全监测，安全保障</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div class="newbanb_div newbanb_div4">-->
					<!--<img src="/Public/img/banb4.png" alt="" width=70 height=70>-->
					<!--<dl class="bana3">-->
						<!--<dt>国际监管</dt>-->
						<!--<dd>银行和香港证监会监管，规范的信用评审，风险监管体系</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div style="clear:both;"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="block right">-->
			<!--<h3>关于我们</h3>-->
			<!--<hr>-->
			<!--<ul>-->
				<!--<li><a href="/about/about/about">公司简介</a></li>-->
				<!--<li><a href="/about/about/about/id/5">最新公告</a></li>-->
				<!--<li><a href="/about/about/about/id/4">合作伙伴</a></li>-->
				<!--<li><a href="/about/about/about/id/6">联系我们</a></li>-->
			<!--</ul>-->
		<!--</div>-->
		<!--<div class="block center">-->
			<!--<h3>帮助中心</h3>-->
			<!--<hr>-->
			<!--<ul>-->
				<!--<li><a href="/help/help/help/par/1/id/1">操作指南</a></li>-->
				<!--<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ}&site=qq&menu=yes">在线咨询</a></li>-->
				<!--<li><a href="/download/download/download">软件下载</a></li>-->
				<!--<li><a href="/help/help/help">帮助中心</a></li>-->
			<!--</ul>-->
		<!--</div>-->
		<!--<div class="block right">-->
			<!--<h3>联系我们</h3>-->
			<!--<hr>-->
			<!--<ul>-->
				<!--<li>周一至周五：09:00—18:00</li>-->
				<!--<li>客服热线：{$Think.config.FENGKONG_PHONE}</li>-->
				<!--<li>紧急电话：{$Think.config.URGENT_PHONE}</li>-->
			<!--</ul>-->
		<!--</div>-->
		<!--<img class="erweima" src="/Public/img/erweima.png">-->
	<!--</div>-->
	<div class="bottom">&copy; 2017   All rights reserved | <a href="http://www.miitbeian.gov.cn/" target="_black" style="color:#777;">闽ICP备17017794号-1</a> </div>
</div>
</div>
<div class="mt_content">
<div id="footer">
	<p>轻松有趣，乐享交易</p>
	<p>服务热线 {$Think.config.HOTLINE}</p>
	<p>&copy;2016 - 版权所有：厦门盈透投资有限公司</p>
</div>
</div>