
<div class="pc">

<!--<div class="link">-->
	<!--<div class="link_qq">-->
		<!--<div class="show_qq"></div>-->
		<!--<ul>-->
			<!--<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ1}&site=qq&menu=yes">客服一</a></li>-->
			<!--<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ2}&site=qq&menu=yes">客服二</a></li>-->
			<!--<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ3}&site=qq&menu=yes">客服三</a></li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div class="link_ph_agent ">-->
		<!--<div class="show_ph_agent"></div>-->
		<!--<ul>-->
			<!--<li>客服：{$Think.config.FENGKONG_PHONE}</li>-->
			<!--<li>紧急电话：{$Think.config.URGENT_PHONE}</li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div class="link_ewm">-->
		<!--<div class="show_ewm"></div>-->
		<!--<ul>-->
			<!--<li><img src="/Public/img/weixin1.jpg" alt=""></li>-->
			<!--<li><img src="/Public/img/weixin2.jpg" alt=""></li>-->
		<!--</ul>-->
	<!--</div>-->
<!--</div>-->
<div class="footer">
	<div class="top">
		<!--<div class="block center">-->
			<!--<h3>帮助中心</h3>-->
			<!--<hr>-->
			<!--<ul>-->
				<!--<li><a href="/agent/help/help/par/1/id/1">操作指南</a></li>-->
				<!--<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$Think.config.QQ}&site=qq&menu=yes">在线咨询</a></li>-->
				<!--<li><a href="/agent/download/download">软件下载</a></li>-->
				<!--<li><a href="/agent/help/help">帮助中心</a></li>-->
			<!--</ul>-->
		<!--</div>-->
		<!--<div class="block right">-->
			<!--<h3>联系我们</h3>-->
			<!--<hr>-->
			<!--<ul>-->
				<!--<li>周一至周五：09:00—18:00</li>-->
				<!--<li>客服热线：{$Think.config.FENGKONG_PHONE}</li>-->
				<!--<li>紧急电话：{$Think.config.URGENT_PHONE}</li>-->
			<!--</ul>-->
		<!--</div>-->


	</div>
	<div class="bottom">&copy; 2017   All rights reserved |<a href="http://www.miitbeian.gov.cn/" target="_black" style="color:#777;">闽ICP备17017794号-1</a> </div>
</div>
</div>
<div class="mt_content">
<!--<div id="footer">-->
	<!--<p>轻松有趣，乐享交易</p>-->
	<!--<p>服务热线 {$Think.config.HOTLINE}</p>-->

<!--</div>-->
</div>