<link href="__ROOT__/Public/css/user.css" rel="stylesheet" type="text/css" />
<div class="user_right">
	<div class="overview">
		<p>您好！<span class="user_name">13799389122hd161104 </span><span class="last_time">上次登录时间：&nbsp;&nbsp;<span>2016-10-29 13:01:25</span></span></p>
		<p class="renzheng">账号认证：<a href="" class="a1"></a><a href="" class="a2"></a><a href="" class="a3"></a><a href="" class="a4"></a>　｜　会员等级：</p>
		<a href="" class="btn_a btn_cz">充值</a>
		<a href="" class="btn_a btn_tx">提现</a>
	</div>
	<div class="assets">
		<ul>
			<li>资产总额：<span>￥0.00</span></li>
			<li>可用余额：<span>￥0.00</span></li>
			<li>待收本息：<span>￥0.00</span></li>
			<li>冻结资金：<span>￥0.00</span></li>
			<li>可用额度：<span>￥0.00</span></li>
			<li>待还本息：<span>￥0.00</span></li>
		</ul>
	</div>
	<div class="record">
		<div class="record_type">
			<ul>
				<li class="active">最近交易记录</li>
				<li>充值记录</li>
				<li>提现记录</li>
				<li>收益记录</li>
				<li>平台管理费记录</li>
			</ul>
		</div>
		<div class="tagContent">
			<!-- 最近交易记录 -->
			 <table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <thead>
					<tr style="border-bottom:0;font-weight:normal;">
					  <th width="6%" height="42" align="center" valign="middle" bgcolor="#f4f4f4">序号</th>                                  
					  <th width="16%" height="42" align="center" valign="middle" bgcolor="#f4f4f4">时间</th>                                  
					  <th width="19%" align="center" valign="middle" bgcolor="#f4f4f4">类型</th>
					  <th width="14%" align="center" valign="middle" bgcolor="#f4f4f4">收入 | 支出</th>
					  <th width="14%" align="center" valign="middle" bgcolor="#f4f4f4">可用余额</th>
					  <th width="14%" align="center" valign="middle" bgcolor="#f4f4f4">冻结金额</th>
					  <th width="17%" align="center" valign="middle" bgcolor="#f4f4f4">备注</th>
					</tr>	
				</thead>
			</table>
	   </div>
	</div>
</div>