<div class="user_left">
	<a href="__CONTROLLER__/user" class="personal_center">
		<h2>个人中心</h2>
		<p>PERSONAL CENTER</p>
	</a>
	<div>
		<h3 name="1">账户首页</h3>
		<ul>
			<li class="user_index"><a href="__CONTROLLER__/user">首页</a></li>
			<li class="userInfo"><a href="__CONTROLLER__/userInfo">个人设置</a></li>
			<li class="user_message"><a href="__CONTROLLER__/message">消息中心<span class="header_message hide"></span></a></li>
			<!-- <a href="__CONTROLLER__/myinvite"><li class="myinvite">#推广赚钱#</li></a> -->
		</ul>
	</div>
	<div>
		<h3 name="1">我的账户</h3>
		<ul>
			<li class="user_account change_amount"><a href="__CONTROLLER__/account">期货账户</a></li>
			<li class="user_card"><a href="__CONTROLLER__/setcard">我的银行卡</a></li>
			<li class="dealRecord"><a href="__CONTROLLER__/dealRecord">资金明细</a></li>
			<li class="recharge"><a href="__CONTROLLER__/recharge">充值</a></li>
			<li class="withdrawal"><a href="__CONTROLLER__/withdrawal">提现</a></li>
		</ul>
	</div>
	<!-- <div>
		<h3 name="0">我的投资</h3>
		<ul style="height:0;">
			<a href=""><li>投资记录</li></a>
			<a href=""><li>债券转让</li></a>
			<a href=""><li>自动投标</li></a>
			<a href=""><li>回款日历</li></a>
		</ul>
	</div> -->
</div>