<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态</title>
    <include file="../xmyttz/view/rx_head.html"></include>
    <style>
        #header_bottom .to_download{
            background-color:#268bf2;
            color:#fff;
        }
    </style>
</head>

<body style="background-color: white;">
<include file="../xmyttz/view/rx_header.html"></include>

<div class="head_back">
动态
</div>
<div class="move_nav">
 <ul>
     <!--<li>财经日历</li>-->
     <li id="notice" class="move_active">盈透公告</li>
     <li id="new">新闻咨询</li>
     <li id="info">风控信息</li>
 </ul>
</div><p class="line" ></p>
<div class="slider"  style="display:none;margin: -10px 0">
    <ul class="slider-main">
        <li class="slider-panel">
            <a target="_blank"><img alt="" title="" src="/Public/img/banner/bg1.jpg"></a>
            <p class="slider_title">四大央行掌门人齐聚一堂1</p>
        </li>
        <li class="slider-panel">
            <a  target="_blank"><img alt="" title="" src="/Public/img/banner/bg2.jpg"></a>
            <p class="slider_title">四大央行掌门人齐聚一堂2</p>
        </li>
        <li class="slider-panel">
            <a  target="_blank"><img alt="" title="" src="/Public/img/banner/bg3.jpg"></a>
            <p class="slider_title">四大央行掌门人齐聚一堂3</p>
        </li>
        <li class="slider-panel">
            <a target="_blank"><img alt="" title="" src="/Public/img/banner/bg4.jpg"></a>
            <p class="slider_title">四大央行掌门人齐聚一堂4</p>
        </li>
    </ul>

    <div class="slider-extra">

        <!--<ul class="slider-nav">-->
        <!--<li class="slider-item"></li>-->
        <!--<li class="slider-item"></li>-->
        <!--<li class="slider-item"></li>-->
        <!--<li class="slider-item"></li>-->
        <!--</ul>-->


        <!--<div class="slider-page">-->
        <!--<a class="slider-pre" href="javascript:;;"><</a>-->
        <!--<a class="slider-next" href="javascript:;;">></a>-->
        <!--</div>-->
    </div>
</div>
<!--公告内容-->
<div class="notice">
<div class="content">
<p class="content_title">国际期货品种天然气(NG1712)退市提醒<span class="time">时间</span></p>

    <div class="content_list">
    <p>
    尊敬的客户：您好，感谢阁下一直以来对我司的支持。由于天然气(NG1712)合约交割期将近，本平台该和实打实大大阿达阿达阿达啊啊大是</p></div>
</div>
    <p class="line"></p>
    <div class="content">
        <p class="content_title">国际期货品种天然气(NG1712)退市提醒<span class="time">时间</span></p>

        <div class="content_list">
            <p>
                尊敬的客户：您好，感谢阁下一直以来对我司的支持。由于天然气(NG1712)合约交割期将近，本平台该和实打实大大阿达阿达阿达啊啊大是</p></div>
    </div>
    <p class="line"></p>
</div>
<!--新闻-->
<div class="zixun"  style="display: none;margin: 152px 0" >
<div class="zixun_nav">
    <ul>
        <li id="hot" class="zixun_active">热门文章</li>
        <li id="all">全部</li>
    </ul>
    <p class="line"></p>
</div>
    <div class="hot">
        <div class="zixun_list">
    <p>美国税改真正考验在后面 美元仍有大麻烦</p>
    <img src="/Public/img/banner/bg1.jpg" alt="">
    <p class="zixun_time">11/17</p>

</div> <p class="line"></p>
    <div class="zixun_list">
        <p>美国税改真正考验在后面 美元仍有大麻烦</p>
        <img src="/Public/img/banner/bg1.jpg" alt="">
        <p class="zixun_time">11/17</p>

    </div>
        <p class="line"></p>
    <div class="zixun_list">
        <p>美国税改真正考验在后面 美元仍有大麻烦</p>
        <img src="/Public/img/banner/bg1.jpg" alt="">
        <p class="zixun_time">11/17</p>

    </div>
        <p class="line"></p>
    <div class="zixun_list">
        <p>美国税改真正考验在后面 美元仍有大麻烦</p>
        <img src="/Public/img/banner/bg1.jpg" alt="">
        <p class="zixun_time">11/17</p>

    </div>
        <p class="line"></p>
    </div>

    <div class="all" style="display:none" id="refreshContainer">

                <!--数据列表-->

                        <div class="zixun_list">
                <p>美国税改真正考验在后面 美元仍有大麻烦1</p>
                <img src="/Public/img/banner/bg1.jpg" alt="">
                <p class="zixun_time">11/17</p>

            </div> <p class="line"></p>

                <div class="zixun_list">
                    <p>美国税改真正考验在后面 美元仍有大麻烦1</p>
                    <img src="/Public/img/banner/bg1.jpg" alt="">
                    <p class="zixun_time">11/17</p>

                </div> <p class="line"></p>

                <div class="zixun_list">
                    <p>美国税改真正考验在后面 美元仍有大麻烦1</p>
                    <img src="/Public/img/banner/bg1.jpg" alt="">
                    <p class="zixun_time">11/17</p>

                </div> <p class="line"></p>

                <div class="zixun_list">
                    <p>美国税改真正考验在后面 美元仍有大麻烦1</p>
                    <img src="/Public/img/banner/bg1.jpg" alt="">
                    <p class="zixun_time">11/17</p>
                </div> <p class="line"></p>


        </div>
    </div>
</div>
<!--风控-->
<div class="info">
    <p style="color:rgb(51,51,51);text-align: center">暂无信息</p>
</div>
<script src="/Public/js/mui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    mui.init({
        pullRefresh : {
            container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
            down : {
                height:50,//可选,默认50.触发下拉刷新拖动距离,
                auto: true,//可选,默认false.首次加载自动下拉刷新一次
                contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh : "正在刷新..."//可选，正在刷新状态时，下拉刷新控件上显示的标题内容

            }
        }
    });
</script>
</body>
</html>