<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body style="background-color: white">
<header id="head" class="mui-bar mui-bar-nav " style="background-color: rgb(250,250,250)">
    <a href="/rx/user/index1" class="mui-action-back mui-icon-left-nav  mui-icon mui-pull-left " style="color: black"></a>
    <h1 class="mui-title">关于我们</h1>
</header>
<div class="about">
    <img src="/Public/img/banner/bg1.jpg" width="90px" height="90px" style="border-radius:3px; " alt=" 盈透金融">
    <p>盈透金融</p>
</div>
<div class="about_list">
<ul>
    <li>盈透金融服务条款 </li><p class="lines"></p>
    <li>盈透金融交易风险说明书 </li><p class="lines"></p>
    <li>盈透金融免责条款 </li><p class="lines"></p>
</ul>
</div>
</body>
</html>