<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户资金</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body>
<header id="head" class="mui-bar mui-bar-nav " style="background-color: rgb(250,250,250)">
    <a href="" class="mui-action-back mui-icon-left-nav  mui-icon mui-pull-left " style="color: black"></a>
    <h1 class="mui-title">账户资金</h1>
</header>
<div class="capital">
<p class="p_active">资金动态</p>
    <div class="cap_active">
        <ul>
            <li>
                <div class="avc">
                    <ul>
                        <li >
                            <p>
                                <span>动态权益</span>
                                <span class="span">&nbsp;&nbsp;&nbsp;0.00</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>授信资金</span>
                                <span class="span">&nbsp;&nbsp;&nbsp;0.00</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>占用保证金</span>
                                <span class="span">0.00</span>
                            </p>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="vertical" ></li>
            <li style="margin: -75px 0;">
                <div class="avc">
                    <ul>
                        <li>
                            <p>
                                <span>可用资金</span>
                                <span class="span">0.00</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>可提资金</span>
                                <span class="span">0.00</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>冻结资金</span>
                                <span class="span">0.00</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="cap_back"></div>
<div class="loss">
    <p class="p_active">盈亏总览</p>
<ul>
    <li>
        <p>
            <span class="profit">逐笔浮动盈亏</span>
            <span class="cap_pro">0.00</span>
        </p>
    </li>
    <li>
        <p>
            <span class="profit">盯市浮动盈亏</span>
            <span class="cap_pro">0.00</span>
        </p>
    </li>
    <li>
        <p>
            <span class="profit">逐笔平仓盈亏</span>
            <span class="cap_pro">0.00</span>
        </p>
    </li>
    <li>
        <p>
            <span class="profit">盯市平仓盈亏</span>
            <span class="cap_pro">0.00</span>
        </p>
    </li>
</ul>
    <div class="line"></div>
    <p style="line-height: 36px;padding: 0 16px;font-size: 16px;">
        <span>当日手续费</span>
        <span class="cap_pros">0.00</span>
    </p>
</div>

</body>
</html>