<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新手指导</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body>
<header id="head" class="mui-bar mui-bar-nav " style="background-color: rgb(250,250,250)">
    <a href="/rx/user/index1" class="mui-action-back mui-icon-left-nav  mui-icon mui-pull-left " style="color: black"></a>
   <h1 class="mui-title">新手指导</h1>
</header>
<div class="guide">
    <ul class="system_set" >
        <li style="top:30px">
            <div class="change_pa">
                <p class="cp">修改登录密码 <span >></span> <p class="line"></p></p>
            </div>
        </li>
        <li style="top:4px">
            <div class="change_pa">
                <p class="cp">修改登录密码 <span >></span> <p class="line"></p></p>
            </div>
        </li>
        <li style="top:-23px">
            <div class="change_pa">
                <p class="cp">修改登录密码 <span >></span> <p class="line"></p></p>
            </div>
        </li>
        <li style="top:-52px">
            <div class="change_pa">
                <p class="cp">修改登录密码 <span >></span> <p class="line"></p></p>
            </div>
        </li>
    </ul>
</div>
</body>
</html>