<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>完善身份证资料</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body >
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h5 class="mui-title">完善身份证信息 </h5>
    <img id="mark" style="float: right;margin: 8px 0;" width="27" height="27" src="/Public/img/icon_7.png" alt="">
    
</header>
<div class="zhezao" ></div>

<div style="margin: 49px 0;background-color: white">
    <div class="photo" style="margin: 200px 38px" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell" id="one">
                <a href="/rx/user/ceshi1" class="cam1" class="">照相机</a>
                <!--<input style="display: none" type="file"  id='image' accept="image/*"  capture='camera' onchange="showPreview(this)">-->
            </li>
            <li class="mui-table-view-cell" id="two" style="display: none">
                <a href="/rx/user/ceshi2" class="cam2" class="">照相机</a>
                <!--<input style="display: none" type="file"  id='images' accept="image/*"  capture='camera' onchange="showPreviews(this)">-->
            </li>
            <li class="mui-table-view-cell" id="three" style="display: none">
                <a href="/rx/user/ceshi3" class="cam3" class="">照相机</a>
                <!--<input style="display: none" type="file"  id='imagess' accept="image/*"  capture='camera' onchange="showPreviewss(this)">-->
            </li>
            <li class="mui-table-view-cell">
                <a >相册</a>
            </li>
        </ul>
    </div>
    <div class="front_face">
    <div class="front_face_one" id="img1">
        <img src=""  alt="" >
    </div>
        <div class="front_btn film_positive">拍摄正面</div>
    </div>
    <div class="front_face">
        <div class="front_face_one" id="img2">
            <img src="" alt="" >
        </div>
        <div class="front_btn  film_back">拍摄背面</div>
    </div>
    <div class="front_face">
        <div class="front_face_one" id="img3">
            <img src="" alt="" >
        </div>
        <div class="front_btn film_hold">拍摄手持证件</div>
    </div>

    <div class="next_step">下一步</div>
</div>
<script>
    $.ajax({
        url:'/rx/user/amv',
        type:'post',
        success:function (data) {
            $('#img1 img').attr('src',data['front_idcard'].substr(23));
            $('#img2 img').attr('src',data['back_idcard'].substr(23));
            $('#img3 img').attr('src',data['handheld_idcard'].substr(23));
        }
    })
    $('.next_step').click(function () {
        if($('#img1 img')[0].src==''||$('#img2 img')[0].src==''||$('#img3 img')[0].src==''){
                alert('资料不完善');
                return false;
        }else{
            alert('资料已完善');
            location.href='/rx/user/per_info';
        }
    })
</script>
<script>

    $('.film_positive').click(function () {
        location.href='/rx/user/ceshi1';

//        if($(".photo").is(":hidden")){
//            $(".photo").show();
//            $('.zhezao').show();
//            $('#one').show();
//            $('#two').hide();
//            $('#three').hide();
//        }
//        $(document).one("click", function(){
//            $(".photo").hide();
//            $('.zhezao').hide();
//        });
//        e.stopPropagation();
    })
    $('.film_back').click(function () {
        location.href='/rx/user/ceshi2';
//        if($(".photo").is(":hidden")){
//            $(".photo").show();
//            $('.zhezao').show();
//            $('#one').hide();
//            $('#two').show();
//            $('#three').hide();
//        }
//        $(document).one("click", function(){
//            $(".photo").hide();
//            $('.zhezao').hide();
//        });
//        e.stopPropagation();
    })
    $('.film_hold').click(function () {
        location.href='/rx/user/ceshi3';
//        if($(".photo").is(":hidden")){
//            $(".photo").show();
//            $('.zhezao').show();
//            $('#one').hide();
//            $('#two').hide();
//            $('#three').show();
//        }
//        $(document).one("click", function(){
//            $(".photo").hide();
//            $('.zhezao').hide();
//        });
//        e.stopPropagation();
    })
//    $('.cam1').click(function () {
//        $('#image').trigger('click');
//    })
//    $('.cam2').click(function () {
//        $('#images').trigger('click');
//    })
//    $('.cam3').click(function () {
//        $('#imagess').trigger('click');
//    })
</script>
<script>
    function showPreview(source) {

        var file = source.files[0];
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        if(window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function(e) {
            $('#img1 img').attr('src',e.target.result);
            var face=e.target.result;
                $.ajax({
                    url:'/rx/user/film_positive',
                    type:'post',
                    data:{'face':face},
                    success:function (data) {
                        if(data.res=='success'){
                            alert(1);
                        }else{
                            alert(2);
                        }
                    }
                })
            }
            fr.readAsDataURL(file);


        }
    }
    function showPreviews(source) {

        var file = source.files[0];
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        if(window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function(e) {
                $('#img2 img').attr('src',e.target.result);
            }
            fr.readAsDataURL(file);
        }
    }
    function showPreviewss(source) {

        var file = source.files[0];
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        if(window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function(e) {
                $('#img3 img').attr('src',e.target.result);
                $.ajax({
                    url:'/rx/user/film_hold',
                    type:'post',
                    dataType:'json',
                    data:{'face':e.target.result},
                    success:function (data) {
                        if(data.res=='success'){
                            alert(1);
                        }else{
                            alert(2);
                        }
                    }
                })
            }
            fr.readAsDataURL(file);

        }
    }
</script>

</body>
</html>