<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改交易密码</title>
    <include file="../xmyttz/view/rx_head.html"></include>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">修改交易密码</h1>
</header>
<div id="wrapper">
    <div id="scroller" style="transform-origin: 0px 0px 0px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) scale(1) translateZ(0px);">
        <div class="mui-content"style="padding-top: 64px;">
            <div class="mui-content-padded" style="margin: 0px;margin-top: 14px">
                <form class="mui-input-group">
                    <div class="mui-input-row">
                        <label>原密码</label>
                        <input type="password" class="mui-input-clear" placeholder="请输入旧密码" id="oldpwd">
                    </div>
                    <div class="mui-input-row">
                        <label>新密码</label>
                        <input type="password" class="mui-input-password" placeholder="请输入新密码" id="newpwd">
                    </div>
                    <div class="mui-input-row">
                        <label>新密码</label>
                        <input type="password" class="mui-input-password" placeholder="请再次输入新密码" id="newpwdagain">
                    </div>
                    <div class="mui-button-row">
                        <button type="button" class="mui-btn mui-btn-primary content_btns" >确认</button>

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<div class="tanchu_system small" id="setpwd_success" >
    <div class="tanchu_system_box">
        <h3>交易密码修改成功</h3>
        <div class="question"><img src="/Public/img/success.png" alt=""><div class="tanchu_content"><p>交易密码修改成功,请重新登录！</p></div></div>
        <div class="answer">
            <a href="/rx/user/re_login" class="error">确定</a>
        </div>
    </div>
</div>
<div class="tanchu_system small" id="setpwd_error">
    <div class="tanchu_system_box">
        <h3>交易密码修改失败</h3>
        <div class="question"><img src="/Public/img/error.png" alt=""><div class="tanchu_content"><p>请重新修改或联系客服！</p></div>
            <div class="answer">
                <a href="/{$Request.module}/{$Request.controller}/set_dealpassword" class="error">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="zhezao"></div>
</body>
</html>